version: "{build}"
clone_folder: "c:\\network"

environment:
  global:
    CABOPTS:  "--store-dir=C:\\SR --http-transport=plain-http"
  matrix:
    - GHCVER: "7.8.4.1"
    - GHCVER: "7.10.3.2"
    - GHCVER: "8.0.2"
    - GHCVER: "8.2.2"
    - GHCVER: "8.4.1"

platform:
#  - x86 # We may want to test x86 as well, but it would double the 23min build time.
  - x64

cache:
 - "C:\\SR"

install:
 - "choco install -y cabal"
 - "choco install -y ghc --version %GHCVER%"
 - "refreshenv"
 - "set PATH=C:\\msys64\\mingw64\\bin;C:\\msys64\\usr\\bin;C:\\ghc\\ghc-%GHCVER%\\bin;%PATH%"
 - "cabal --version"
 - "ghc --version"
 - "cabal %CABOPTS% update -vverbose+nowrap"

build: off
deploy: off

test_script:
 - IF EXIST configure.ac bash -c "autoreconf -i"
 - "cabal %CABOPTS% new-build -j1 -vnormal+nowrap --dry all"
 - ps: Push-AppveyorArtifact dist-newstyle\cache\plan.json
 - "cabal %CABOPTS% new-build -j1 -vnormal+nowrap all"
 - "cabal %CABOPTS% install hspec-discover"
 # disable doctest because it's currently broken.
 - "cabal %CABOPTS% new-test  -j1 -vnormal+nowrap network:test:spec"
 - ps: ls network*.log -recurse | %{ Push-AppveyorArtifact $_}
